@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-white text-slate-500 antialiased dark:bg-slate-900 dark:text-slate-400;
  }
  html {
    @apply dark:bg-slate-900;
  }
}
html {
  scroll-behavior: smooth;
}
.dark:root {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

::-webkit-scrollbar {
  height: 0.375rem;
  width: 0.375rem;
  background-color: rgb(241 245 249/1);
}
@layer utilities {
  ::-webkit-scrollbar {
    @apply dark:bg-slate-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply dark:bg-slate-700;
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225/1);
  border-radius: 0.25rem;
}

.unknwn {
  position: fixed;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 0px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  white-space: nowrap;
  border-width: 0px;
  display: none;
}
.token.class-name,
.token.function,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.tag {
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

.token.attr-equals,
.token.punctuation {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.token.attr-value,
.token.class,
.token.string {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.bgimg {
  -webkit-mask-image: linear-gradient(transparent, black);
}

.index_beams__yWcJT {
  background-image: url(/bg-hero.jpg);
  background-size: 150rem;
}

.dark .index_beams__yWcJT {
  background-image: url(/dark-bg-hero.jpg);
  background-size: 86.125rem;
}
.c1-bg1 {
  background-image: url(/Cn1-ic1.png);
}
.c1-bg2 {
  background-image: url(/Cn1-ic2.png);
}
.c1-grid {
  grid-template-columns: repeat(4, minmax(6rem, 1fr));
}
